@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>League API</h1>
    <p>League of Legends (abbreviated LoL) is a multiplayer online battle arena video game developed and published in 2009 by Riot Games for Microsoft Windows and macOS. The game follows a freemium model and is supported by microtransactions, and was inspired by the Warcraft III: The Frozen Throne mod, Defense of the Ancients.

In League of Legends, players assume the role of an unseen "summoner" that controls a "champion" with unique abilities and battle against a team of other players or computer-controlled champions. The goal is usually to destroy the opposing team's "nexus", a structure which lies at the heart of a base protected by defensive structures, although other distinct game modes exist as well. Each League of Legends match is discrete, with all champions starting off fairly weak but increasing in strength by accumulating items and experience over the course of the game. The champions and setting blend a variety of elements, including high fantasy, steampunk, and Lovecraftian horror.</p>
   <p> With this site we hope to provide the League of Legends fanbase with access to all kinds of data related to the game. This is just part of our ongoing effort to respond to players' and developers' requests for data and to arm the community with more ways to contribute to the player experience. We want this API to meet the same high standards as our in-game experiences.</p>
    <p><a href="https://play.na.leagueoflegends.com/en_US" class="btn btn-primary btn-lg">League Site &raquo;</a></p>
    <p><a href="https://en.wikipedia.org/wiki/League_of_Legends" class="btn btn-primary btn-lg">League Wiki &raquo;</a></p>
</div>

