
@{
    ViewBag.Title = "ProfileSearch";
}

<header>
    @Scripts.Render("~/Scripts/ProfileCall.js")
</header>
<h2>Profile Search</h2>

<input type="text"/>
<button type="submit" onclick="UserAction()">Search</button>